@import url('https://fonts.googleapis.com/css2?family=Karla:wght@200&family=Tangerine:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Herr+Von+Muellerhoff&family=Karla:wght@200&family=Tangerine:wght@700&display=swap');

.container {
    width: 1030px;
    min-height: 100vh;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;
    display: flex;
    flex-direction: column;
  }

  .headerTitle {
    position: absolute;
    top: 15%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    font-family: "Tangerine", cursive;
    font-style: italic;
    font-size: 5em;
    font-weight: lighter;
    color: black;
  }
  
  .dotcom {
    font-size: 0.5em;
  }

  .subContainer {
    display: flex;
    flex-grow: 1;
    background: white;
  }

  .mainContent {
    width: 100%;
    margin: 1rem;
    a {
      text-decoration: underline;
    }
  }